import("splines", "date", "survival", "statmod", "date", "relsurv")
importFrom("stats", "optim", "pnorm", "pchisq")
export("mm2", "m3", "m3rs", "m4", "m4rs", "sm3", "sm3rs", "sm3ic", "sm4",  "sm4rs", "lrs.multistate", "pred.mm2")
